@import 'base';

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
ul {
    margin-left: 1.5em;
}

input {
    width: 100%;
}

.section {
    background: $panel-color;
    border-radius: 0.25em;
    margin: 0.5em;
    padding: 0.5em;
    &#error {
        background-color: $error-color;
    }
}